@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../public/images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  #hero {
    background-image: url("../public/images/keyboard.jpg");
    background-position: center;
  }
}
